
body {
    color: purple;
    font-family: Arial, Helvetica, sans-serif;

}
/* Style of the body in the Game Page */
#game-body {
    background-color: rgba(128, 0, 128, 0.430);
    color: white;  
}

/* Styling the Rule Option */
header{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: start;
}
ul {
    list-style-type: none; 
    padding-left: 0%;
}
a{
    text-decoration:none;
}
#rules-information{
    font-size: 200%;
}
#rules{
    color: white;
    font-size: 12px;
}
#rules:hover{
    color: purple;
    border-bottom: 1px purple solid;
}

/* Style of the H1 - The title.*/
#game-title{
    position: fixed;
    left:39%;
    top:25%;
}

/* Styling the PLAY BUTTON */
#play-button{
    position: fixed;
    top:40%;
    left:40%; 
    padding: 40px;  
    font-size: 25px;
    width: 20%;
    background-color: purple;
    color: white;
    font-weight: 700;
    border-radius: 25px;
    
}
#play-button:hover{
    background-color: white;
    color: purple;
    border: 4px dotted purple;
}

/* General Footer style*/
footer {
    position:fixed;
    bottom:2px;
    left: 43%;
    border-top:1px purple solid;
}
